@import url('https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Cousine', monospace;
    color: #f9f871;
    background-color: #f9f871;
}

.container {
    margin: 50px auto;
    height: 600px;
    width: 800px;
    background-color: #424242;
    position: relative;
    overflow: hidden;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff64a7;
}

.text-box {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 55%;
}

.dog {
    cursor: grab;
}

.dog-img-container {
    position: absolute;
    right: -70px;
    bottom: 0;
    width: 442px;
    height: 600px;
}

.dog-img-container img {
    width: 100%;
    height: 100%;
}

.splash h1 {
    font-size: 4rem;
    white-space: nowrap;
}

.splash p {
    font-size: 2rem;
}

#play-button {
    position: relative;
    top: 36px;
    left: 100px;
    width: 200px;
    height: 110px;
    border-radius: 5px;
    border: #ffc35d solid 10px;
    background-color: #f9f871;
    cursor: pointer;
    color: #ff64a7;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.game {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffc35d;
}

.maze-background {
    height: 100%;
    width: 100%;
}

.maze-container {
    position: absolute;
    top: 0;
    left: 0;
}

.paw {
    position: absolute;
    width: 100px;
}

.path {
    background-color: #206BE4;
    z-index: 1;
    position: absolute;
}

#top-left-paw {
    top: 30px;
    left: 240px;
    width: 70px;
    transform: rotate(-20deg);
}

#top-right-paw {
    top: 30px;
    right: 240px;
    width: 50px;
    transform: rotate(60deg);
}

#left-paw {
    top: 250px;
    left: 40px;
    transform: rotate(-30deg);
}

#bottom-left-paw {
    bottom: 40px;
    left: 100px;
    width: 80px;
    transform: rotate(20deg);
}

#bottom-middle-paw {
    bottom: 60px;
    left: 250px;
    transform: rotate(30deg);
}

#bottom-right-paw {
    bottom: 35px;
    right: 130px;
    width: 80px;
    transform: rotate(-40deg);
}

#right-paw {
    bottom: 320px;
    right: 30px;
    width: 80px;
    transform: rotate(10deg);
}

#head-container {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 150px;
    width: 150px;
}

#head-img {
    height: 100%;
    width: 100%;
}

#start-zone-1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 70px;
    height: 105px;
}

#start-zone-2 {
    position: absolute;
    top: 70px;
    left: 65px;
    width: 65px;
    height: 45px;
}

#start-zone-3 {
    position: absolute;
    top: 120px;
    left: 48px;
    width: 45px;
    height: 45px;
}

#hind-container {
    position: absolute;
    top: 345px;
    left: 630px;
    height: 150px;
    width: 150px;
}

#hind-img {
    height: 100%;
    width: 100%;
}

.brush {
    height: 100px;
    width: 50px;
    position: absolute;
    z-index: 2;
}

.brush img {
    height: 100%;
    width: 100%;
}

#first-brush {
    transform: rotate(90deg);
    animation: first-brush-animation 2s infinite;
    left: 240px;
}

#second-brush {
    animation: second-brush-animation 1s infinite;
    bottom: 125px;
}

#third-brush {
    animation: third-brush-animation 1s infinite;
    top: 180px;
}

.head-hitbox {
    height: 70px;
    width: 42px;
    position: absolute;
    top: 30px;
    left: 3px;
    border-radius: 50%;
    transform: rotate(20deg);
    z-index: 2;
}

.handle-hitbox {
    height: 45px;
    width: 21px;
    position: absolute;
    top: 0px;
    right: 1px;
    border-radius: 50%;
    transform: rotate(16deg);
    z-index: 2;
}

#tail {
    position: absolute;
    right: 90px;
    bottom: 175px;
    height: 10px;
    width: 10px;
    animation: rotation 1s infinite linear;
    z-index: 3;
    animation-play-state: paused;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes first-brush-animation {
    0% {
        bottom: 250px;
    }
    50% {
        bottom: 150px;
    }
    100% {
        bottom: 250px;
    }
}

@keyframes second-brush-animation {
    0% {
        left: 550px;
    }
    80% {
        left: 370px;
    }
    100% {
        left: 550px;
    }
}

@keyframes third-brush-animation {
    0% {
        right: 300px;
    }
    50% {
        right: 360px;
    }
    100% {
        right: 300px;
    }
}

.tail-hitbox img {
    height: 100%;
    width: 100%;
}

.tail-hitbox {
    position: absolute;
    left: -50%;
    bottom: 50%;
    height: 90px;
    width: 20px;
}

.end-zone {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 65px;
    height: 45px;
}

#first-section {
    top: 121px;
    left: 180px;
    width: 170px;
    height: 44px;
    border-radius: 0 20px 0 0;
}

#second-section {
    top: 160px;
    left: 320px;
    width: 30px;
    height: 150px;
    border-radius: 0 0 20px 0;
}

#third-section {
    top: 280px;
    left: 170px;
    width: 150px;
    height: 30px;
    border-radius: 20px 0 0 0;
}

#fourth-section {
    top: 310px;
    left: 170px;
    width: 30px;
    height: 80px;
}

#fifth-section {
    top: 390px;
    left: 170px;
    width: 240px;
    height: 30px;
    border-radius: 0 20px 0 20px;
}

#sixth-section {
    top: 420px;
    left: 380px;
    width: 30px;
    height: 100px;
    border-radius: 0 0 0 20px;
}

#seventh-section {
    top: 490px;
    left: 410px;
    width: 100px;
    height: 30px;
}

#eighth-section {
    top: 330px;
    left: 510px;
    width: 30px;
    height: 190px;
    border-radius: 0 20px 20px 0;
}

#ninth-section {
    top: 330px;
    left: 410px;
    width: 100px;
    height: 30px;
    border-radius: 0 0 0 20px;
}

#tenth-section {
    top: 100px;
    left: 410px;
    width: 30px;
    height: 230px;
    border-radius: 20px 0 0 0;
}

#eleventh-section {
    top: 100px;
    left: 440px;
    width: 180px;
    height: 30px;
}

#twelfth-section {
    top: 100px;
    left: 620px;
    width: 30px;
    height: 360px;
    border-radius: 0 20px 0 20px;
}

.show-popup {
    position: absolute;
    top: 0;
    display: none;
    z-index: 10;
}

.pop-up-container {
    height: 600px;
    width: 800px;
    background-color: #ff64a7;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
}

.pop-up {
    height: 100%;
    width: 100%;
}

#bone-img {
    width: 80%;
    height: 380px;
    margin: 110px 10%;
    position: absolute;
    top: 0;
}

#pop-up-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: 0;
    color: #ff64a7;
    font-size: 4rem;
}

#reset-button {
    padding: 5px;
    transform: translate(-50%, 40%);
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    border: #ffc35d solid 6px;
    background-color: #f9f871;
    cursor: pointer;
    color: #ff64a7;
    font-weight: bold;
    text-align: center;
}