* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    margin: 50px auto;
    height: 600px;
    width: 800px;
    background-color: #424242;
}

.game {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffc35d;
}

.paw {
    position: absolute;
    width: 100px;
    color: #6a64d9;
}

.paw g {
    fill: #6a64d9;
}

#left-paw {
    top: 150px;
    left: 50px;
    transform: rotate(-30deg);
}

#middle-paw {
    bottom: 40px;
    left: 100px;
    width: 80px;
    transform: rotate(20deg);
}

#right-paw {
    bottom: 90px;
    left: 250px;
    transform: rotate(30deg);
}

