<div class="game">
    <div class="maze-background lose">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="middle-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="right-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="left-paw">
    </div>
    <div class="maze-container">
        <div id="head-container">
            <img src="images/dog-head.svg" id="head-img">
            <div id="start-zone-1" class="start-zone"></div>
            <div id="start-zone-2" class="start-zone"></div>
            <div id="start-zone-3" class="start-zone"></div>
        </div>
        <div id="first-section" class="path"></div>
        <div id="second-section" class="path"></div>
        <div id="third-section" class="path"></div>
        <div id="fourth-section" class="path"></div>
        <div id="fifth-section" class="path"></div>
        <div id="sixth-section" class="path"></div>
        <div id="seventh-section" class="path"></div>
        <div id="eighth-section" class="path"></div>
        <div id="ninth-section" class="path"></div>
        <div id="tenth-section" class="path"></div>
        <div id="eleventh-section" class="path"></div>
        <div id="twelfth-section" class="path"></div>
        <div id="hind-container">
            <img src="images/dog-hind.svg" id="hind-img">
            <div class="end-zone"></div>
        </div>
    </div>
</div>