<div class="game">
    <div class="maze-background">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="middle-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="right-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="left-paw">
        <div id="head-container"><img src="images/dog-head.svg" id="head-img"></div>
        <div id="hind-container"><img src="images/dog-hind.svg" id="hind-img"></div>
        <div class="brush lose" id="first-brush"></div>
        <div class="brush lose" id="second-brush"></div>
        <div class="brush lose" id="third-brush"></div>
        <div class="lose" id="tail"></div>
    </div>
</div>
<script src="js/win.js"></script>
<script src="js/start-logic.js"></script>