<div class="game">
    <div class="maze-background lose">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="middle-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="right-paw">
        <img alt="paw print" src="./images/paw-print.svg" class="paw" id="left-paw">
        <div id="head-container"><img src="images/dog-head.svg" id="head-img"></div>
        <div id="hind-container"><img src="images/dog-hind.svg" id="hind-img"></div>
    </div>
</div>
<script src="js/start-logic.js"></script>
<script src="js/win.js"></script>
<script src="./js/lose-logic.js"></script>
