<div class="splash">
    <div class="text-box">
        <h1>Who's a Good Puppy!?</h1>
        <div class="instruction-box">
            <p>Puppy doesn't like being brushed!</p>
            <p>Make puppy happy, stroke his whole body, avoiding the brushes along the way.</p>
            <P>Stroke puppy from head to tail.</P>
            <p>Don't hit the brushes or move off puppy's body or they will be sad.</p>
        </div>
        <div id="play-button"><span>PLAY!</span></div>
    </div>
    <div class="dog-img-container"><img src="images/dog-head.svg" alt="A good puppy!"></div>
    <script src='js/splash.js'></script>
</div>