@import url('https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap');

body {
    font-family: 'Cousine', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    background: #6a64d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pop-up {
    width: 500px;
    height: 400px;
    background: #ff64a7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: #f9f871;
}

p{
    margin: 0.5rem 0;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    background: #c660d2;
    border: none;
}

.palette-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.palette-container div {
    width: 80px;
    height: 80px;
}

.petme-blue {
    background: #206be4;
}

.petme-purple-pink {
    background: #c660d2;
}

.petme-orange {
    background: #ff8d79;
}

.petme-tangerine {
    background: #ffc35d;
}

.petme-yellow {
    background: #f9f871;
}

.petme-pink {
    border: 1px solid #fff;
}